<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  

  <header>
    <a href="#maincontent"  class="skip-link">Menuju ke konten</a>
    <h1 aria-label="Delicioso Restaurant Apps">Delicioso Apps</h1>
    <a id="hamburger" tabindex="0" href="#" aria-label="harmburger button">☰</a>
    <nav id="drawer">
        <ul class="anchor">
          <li class="anchor-item"><a class="anchor-link" href="index.html">Home</a></li>
          <li class="anchor-item"><a class="anchor-link" href="#">Favorite</a></li>
          <li class="anchor-item"><a class="anchor-link" href="https://www.linkedin.com/in/andreasprasetya" target="_blank">About Us</a></li>
        </ul> 
    </nav>
    
  </header>

  <main id="maincontent">
    <div class="hero">
      <img class="jumbotron" src="./images/heros/hero-image_1.jpg" alt="">
    </div>
    <h2>Restaurant List</h2>
    <article id="restoList">

    </article>
  </main>

  <footer>
    <p>Copyright © 2020 Andreas Prasetya - Delicioso Apps</p>
  </footer>
</body>
</html>
