@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.skip-link {
  position: absolute;
  height: 44px;
  top: 1.5em;
  top: -50px;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 0;
}

.skip-link:focus{
  top: 20px;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: #FBC252;
  width: 100%;
  padding: 1rem 4rem 1rem 4rem;
  max-height: 80px;
}
h1{
  margin: auto 0 auto 5em;
}
.anchor{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  color: white;

}
.anchor-item{
  margin: 0 0 0 35px;  ;
  
}
.anchor-link{
  text-decoration: none;
  color: black;
  font-size:35px;
}
img{
  display: block;
}
.hero{
  max-width:100% ;
  max-height: 50vh;
}
.jumbotron {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position:top;
}
h2{
  margin: 50px auto 40px auto;
  width: 100%;
  text-align: center;
}
article{
  display: flex;
  flex-wrap: wrap;
  padding: 0 5rem 0 5rem;
}
.card{
  height: min-content;
  max-width: 350px;
  margin: 1em auto 1em auto;
  background-color: white;
  box-shadow: 2px 2px 12px;
  border-radius: 10px;
}
.food-origin{
  height:fit-content;
  width:fit-content ;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  position: absolute;
}
.food-origin > p{
  font-size: small;
}
.food-info{
  padding: 2rem;
  text-align: justify;
}
.food-img{
  max-height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0; 
}
.food-title{
  margin: 0.5rem 0 0.5rem 0;
}

footer{
  display: flex;
  width: 100%;
  height: 3rem;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: white;
}

/* minimal layar ukuran sedang */
@media screen and (max-width: 480px) {
  article{
    flex-direction: column;
  }
  h1{
    font-size:medium ;
  }
  h2{
    font-size: medium;
  }
  p{
    font-size: small;
  }
  #hamburger {
    height: 45px;
    width: 45px;
    font-size:50px;
    text-align: center;
    text-decoration: none;
    color: black;
  }
  #drawer{
    height: 100%;
  }

}
 
/* minimal layar ukuran besar */
@media screen and (max-width: 768px) {
  article{
    flex-direction: column;
  }
  .anchor{
    flex-direction: column;
    margin-top: 0;
  }

  #drawer{
  width: 250px;
  height: 100%;
  margin: -1rem 0 0 -4rem;
  position: absolute;
  z-index: 1;
  color: white;

  /* menyembunyikan #drawer -250px (sesuai dengan ukuran lebar drawer) ke kiri */
  transform: translate(-250px, 0);
  transition: transform 0.3s ease-in-out;
  background-color:#111;

}
  #drawer.open {
    transform: translate(0,0)
  }

  #drawer ul {
    list-style-type: none;
    padding: 16px 16px;
  }
  
  #drawer a {
    text-decoration: none;
    font-size: 2em;
    color: white;
  }
 
  #hamburger {
    height: 45px;
    width: 45px;
    font-size:50px;
    margin-top: -15px;
    text-align: center;
    text-decoration: none;
    color: black;
  }

}
@media screen and (min-width: 768px) {
  #hamburger{
    display: none;
  }
}

/* minimal layar ukuran besar */
@media screen and (max-width: 1090px) {
  article{
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1090px) {

  #hamburger{
    display: none;
  }
}
